.outline {
	border: 1px solid blue;
}

#container1 {
	position: relative;
}

.test:hover {
	cursor: pointer !important;
}

.rotate {
	transform: rotate(180deg);
}

.cont {
	display: inline-flex;
}

.card {
	display: block;
}

.card-image {
	max-width: 100px;
	max-height: 100px;
	width: auto;
	height: auto;
}

.cards {
	display: table;
	table-layout: fixed;
	width: 50%;
	max-width: 100px;
	max-height: 100px;
}
.cards > div {
	display: table-cell;
	width: 100px;
}
.cards > div > img {
	display: inline-block;
}

#wrapper {
	height: 100%;
	width: 100%;
}

#front {
	position: absolute;
	z-index: 100;
	top: 0;
	right: 0;
}

#container1 Canvas, #overlay {
	position: absolute !important;
}